* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

nav * {
  color: white !important;
}

.navbar {
  justify-content: space-around !important;
  padding-left: 6%;
  padding-right: 6%;
}

.navbar-brand {
 /*  margin-right: 180px; */
}

.navbar-text {
  order: 1;
  /* margin-left: 100px; */
}

.navbar-collapse > .mr-auto {
  flex-grow: 0 !important;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

/* .navbar-collapse > .mr-auto > li {
  margin-right: 80px;
} */

.subNav {
  width: 100%;
  height: 125px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.subNav::-webkit-scrollbar {
  display: none;
}

.subNavLinks {
  width: auto;
  height: 100%;
  margin: 0 auto;
  
  white-space: nowrap;
  /* 
  display: flex;
  align-items: center;
  justify-content: center; */
}

.subNavLinks button {
  position:absolute;
  height: 105px;
  display: none;
  padding: 40px 10px;
  background: white;
  border: none;
}

.subNavLinks .prev{
  border-right: 1px solid #ccc;
  left: 0;
  margin-right: 20px;
}

.subNavLinks .next{
  border-left: 1px solid #ccc;
  top: 56px;
  right: 0;
  margin-left: 20px;
}

.subNavLinks a {
  display: inline-block;
  width: 120px;
  height: 100%;
  padding: 40px 0px;
}

.subNavLinks a:first-child {
  padding-left: 100px;
}

/* @media only screen and (max-width: 970px) {
  .subNavLinks button {
    display: block;
  }
} */

@media only screen and (max-width: 767px) {
  .navbar {
    justify-content: space-between !important;
    /* background: black !important; */
  }

  .navbar-brand {
    margin: 0;
  }
  .navbar-text {
    order: 0;
    margin: 0;
  }

  .navbar-collapse > .mr-auto {
    display: flex !important;
    width: 100%;
    flex-direction: column !important;
    justify-content: flex-start !important;
    text-align: left;
    height: 100vh;    
  }

  .navbar-collapse > .mr-auto > li {
    border-bottom: 1px solid #ccc;
    margin: 0;
  }
  .navbar-collapse > .mr-auto > li:last-child {
    border-bottom: none;
  }
}